<!DOCTYPE html>
<html lang = "en">
<head>
</head>
<body style = "font-size:20px; padding: 50px;">
	<% include partials/_header %>
	<form action ="/urls/<%= shortURL %>" method= "POST" style="margin:150px;">	     
	      <label> ShortURL : </label>
	      <label id = "shortURL" name="shortURL"><a href="http://localhost:8480/u/<%= shortURL %>" target="_blank"><%= shortURL %></a></label><input id="hidshortURL" name="hidshortURL" type="text" value="<%= shortURL %>" hidden><br />
	      <label> LongURL : </label>
	       <label id = "longURL"></label>
	       <input id="longURL" type= "text" name="longURL" value=<%= longURL%> style="width: 300px">
	       <input type="submit" value="Update">
	</form>
</body>
</html>